<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

	<bean class="com.mk.context.SpringApplicationContext"></bean>

	<bean id="event" class="com.mk.controller.EventControllerImpl"></bean>
	<bean id="user" class="com.mk.controller.UserControllerImpl"></bean>
	
</beans>